.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    margin-left: 10%;
    margin-right: 10%;
}

.todoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    text-align: center;
    overflow-y: auto;
    margin-top: 2rem;
}

p {
    color: rgb(73, 131, 182);
}


.statsContainer {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 768px) {
    .todoContainer {
        width: 93vw;
        margin-top: 2rem;
    }
}