container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 125px;
}


input {
    position: absolute;
    top: 125px;
    height: 3rem;
    width: 70%;
    text-align: left;
}


button {
    background-color: aqua;
}